<!DOCTYPE html>
<html lang="en">
<head>
    <title>老卫的天气预报（waylau.com）</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h3 th:text="${reportModel.title}">waylau</h3>
            <select id="selectCityId">
                <option th:each="city : ${reportModel.cityList}" th:value="${city.cityId}" th:text="${city.cityName}" th:selected="${city.cityId eq reportModel.cityId}">Volvo</option>
            </select>
        </div>
        <div class="row">
            <h1 th:text="${reportModel.report.city}"></h1>
        </div>
        <div class="row">
            <p>
                空气质量：<span th:text="${reportModel.report.aqi}"></span>
            </p>
        </div>
        <div class="row">
            <p>
                当前温度：<span th:text="${reportModel.report.wendu}"></span>
            </p>
        </div>
        <div class="row">
            <p>
                温馨提示：<span th:text="${reportModel.report.ganmao}"></span>
            </p>
        </div>
        <div class="row">
            <div class="card" th:each="forecast : ${reportModel.report.forecast}">
                <div class="card-body">
                    <p class="card-text" th:text="${forecast.date}">周五</p>
                    <p class="card-text" th:text="${forecast.high}">高温 28℃</p>
                    <p class="card-text" th:text="${forecast.low}">低温 21℃</p>
                    <p class="card-text" th:text="${forecast.fengxiang}">无持续风向</p>
                </div>
            </div>
        </div>
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="@{/js/weather/report.js}"></script>

</body>
</html>